
@valuations__title--font-family				: @base-font-face;
@valuations__title--text-transform			: none;
@valuations__title--font-weight				: normal;

// Tertiary Jump
// ========================================================================

.container-xnjhm {

	.valuation-jump {
		top: 11%;
		left: 65%;
		z-index: 102;
		width: 353px;
		position: absolute !important; // To overwite the is-consistant class

		.content {
			padding: 18px 0 55px;
		}
	}
}

// Responsive
// =========================

.hook-responsive-desktop() {

	.container-xnjhm {

		.valuation-jump {
			right: 0;
			top: 14.9%;
			left: auto;
			width: 320px;

			.title {
				.font-size(@homepage__title--font-size - 8px);
			}

            .content {
                display: none;
            }

            .button {
            	padding-top: 115px;
            }

		}

	}

}

.hook-responsive-tablet() {

	.container-xnjhm {

		/*Bottom Triangle*/
		&:after {
			content: ' ';
			right: 0;
			bottom: 0;
			top: auto;
			width: auto;
			display: block;
			margin-right: 0;
			position: absolute;
			border-style: solid;
			border-width: 0 0 28px 979px;
			border-color: transparent transparent @homepage__tertiary-jump--background transparent;

			& when (@franchise-name = "group") {
				display: none;
			}
			
		}

		.valuation-jump {
			width: 100%;
			text-align: center;
			padding: 30px 0 60px;
			position: static !important;
			background: @body-background;
			.clearfix;

			.content {
				max-width: 57%;
				margin: 0 auto;
				display: block;
			}

			.button {
				padding: 0;
				float: none;
				display: inline-block;
			}

		}	

	}

}

.hook-responsive-mobile() {

	.container-xnjhm {

		.valuation-jump {

			/*Bottom Triangle*/
			&:after {
				border-width: 0 764px 28px 0;
			}

            .content {
            	max-width: none;
            }
		}
	}
}