
// Video Media
// ========================================================================

// Variables
// ========================================================================

@homepage__media-text--top                  : 13%;

@homepage__media-title--width               : 370px;
@homepage__media-title--font-weight         : 100;
@homepage__media--text-color                : #fff;

@homepage__meida-button--top-desktop        : 80px;

// ========================================================================

.container-b7qqh {
    position: relative;

    &:after {
        content: ' ';
        right: 0;
        bottom: 0;
        position: absolute;
        border-style: solid;
        border-width: 0 0 60px 1680px;
        border-color: transparent transparent @body-background transparent;

        & when not (@franchise-name = "group") {
            left: 0;
            right: auto;
            border-width: 0 1680px 60px 0;
        }

    }

    .container {
        width: auto;
    }

    .media.module {
        padding-bottom: 0;

        .inner {
            margin-bottom: 0;
        }

        .ytembed-object {

            .text {
                left: 50%;
                padding: 0;
                position: absolute;
                margin-left: -(1170px / 2);
                top: @homepage__media-text--top;
            }

            .heading span {
                color: @homepage__media--text-color;
                padding-left: 0;
                background: none;
                line-height: normal;
                font-family: @base-font-face;
                max-width: @homepage__media-title--width;
                font-weight: @homepage__media-title--font-weight;
                .font-size(40px);
            }

            .sub-heading span {
                color: @homepage__media--text-color;
                padding-left: 0;
                max-width: 280px;
                font-weight: 100;
                background: none;
                line-height: 25px;
                font-family: @base-font-face;
                .font-size(16px);
            }

            .btn {
                margin-top: 40px;

                & when (@franchise-name = "group") {
                    padding-left: 0;
                    background: none;

                    &:hover {
                        background: none;
                    }

                }

            }

        }

    }

}

// Responsive
// =========================

.hook-responsive-desktop() {

    .container-b7qqh {

        .container {
            width: @grid-column-width980;
        }

        .media.module {

            .ytembed-object {

                .text {
                    top: 10%;
                    padding-left: 60px;
                    margin-left: -(@grid-column-width980 / 2);

                    .heading span {
                        .font-size(@homepage__title--font-size - 8px);
                    }

                    .sub-heading {
                        display: none;
                    }

                    .btn {
                        margin-top: @homepage__meida-button--top-desktop;
                    }

                }

            }

        }

    }

}

.hook-responsive-tablet() {

    .container-b7qqh {

        .container {
            width: 764px;
        }

        .media.module {

            .ytembed-object {

                .text {
                    display: none;
                }

            }

        }

    }

}

.hook-responsive-mobile() {

    .container-b7qqh {

        &:after {
            display: none;
        }

        .container {
            width: auto;
        }

        .media.module {

            .ytembed-image {
                position: relative;

                /*Bottom Triangle*/
                &:after {
                    content: ' ';
                    left: 0;
                    bottom: 0;
                    position: absolute;
                    border-style: solid;
                    border-width: 12px 0 0 500px;
                    border-color: transparent transparent transparent @body-background;
                }

            }

            .ytembed-object {

                .text {
                    display: block;
                    padding-left: 0;
                    margin: 20px 0 0;
                    position: static;
                    text-align: center;

                    .heading span {
                        margin: 0 auto;
                        max-width: 90%;
                        color: @primary-color;
                        .font-size(@homepage__title--font-size - 16);
                    }

                    .btn {
                        margin-top: 15px;
                        #custom-mixins > .primary-button;

                        &:hover {
                            #custom-mixins > .primary-button-hover;
                        }

                    }

                }

            }

        }

    }

}