
/*!
 * CSS Member: Tom Rochard-Pulen
 */

/*Button Ammends*/
// ============================

@button-height                       	: 33px;
@button-line-height                  	: 33px;

@button-font-weight						: normal;
@button-font-size						: 15px;
@button-font-family						: @alt-font-face;

@button-background         				: #ffffff;
@button-border-color       				: #b2b2b2;
@button-color              				: @secondary-color;
@button-hover-background   				: @primary-background;
@button-hover-border-color 				: #2768a8;
@button-hover-color        				: #fff;
@button-active-background  				: @button-hover-background;
@button-active-color       				: #fff;

@button-secondary-background            : @primary-background;
@button-secondary-border-color          : #2768a8;
@button-secondary-color                 : #fff;
@button-secondary-hover-background      : #ffffff;
@button-secondary-hover-border-color    : #b2b2b2;
@button-secondary-hover-color           : @secondary-color;
@button-secondary-active-background     : @button-secondary-hover-background;
@button-secondary-active-color          : @button-secondary-hover-color;

@button-tertairy-background         	: @secondary-background;
@button-secondary-border-color          : @button-tertairy-background;
@button-tertairy-color              	: #fff;
@button-tertairy-hover-background   	: #dadcdd;
@button-secondary-hover-border-color    : @button-tertairy-hover-background;
@button-tertairy-hover-color        	: @secondary-color;
@button-tertairy-active-background  	: @button-tertairy-hover-background;
@button-tertairy-active-color       	: @button-tertairy-hover-color;

/*UI KIT Variables*/
// ============================

@base-font-face							: 'VW-text', Arial, Verdana, Helvetica, sans-serif;
@alt-font-face							: 'VW-head', Arial, Verdana, Helvetica, sans-serif;

/*Header & Nav Variables*/
// ============================

@header__item--font-size                : 15px;
@header__item--color					: @secondary-color;
@header__item-height--correction		: -3px;		

@header__logo--width					: 235px;
@header__logo--width-desktop			: 180px;

@header__item--padding-tablet			: 0 8px;
@header__action-bar--background-tablet 	: #e5e5e5;
@header__logo--margin-tablet            : 0;
@header__franchise-badge--left-tablet	: 35%;

@header__franchise-badge--left-mobile	: 11%;
@header__logo--left-mobile				: @header__franchise-badge--left-mobile;
@header__logo--margin-mobile			: 72px; // Franchise badge width + 20px space

//Nav
@nav-item-side-padding             		: 34px;
@nav-item-side-padding-desktop			: 20px;
@nav-item-font-size                		: 16px;
@nav-item-transform                		: none;
@nav-item-color                    		: @primary-color;

@nav__active-border--spacing       		: 11px;

/*Homepage Variables*/
// ============================

@homepage__button--padding				: @button-padding;

@homepage__banner-title--font			: @alt-font-face;
@homepage__banner-title--colour			: #fff;
@homepage__banner-title--font-weight	: bold;
@homepage__banner-title--width			: 470px;

@homepage__banner-sub-title--font		: @alt-font-face;
@homepage__banner-sub-title--colour		: @tertiary-color;
@homepage__banner-sub-title--font-size	: 18px;

@homepage__banner-content--padding		: 2px 0;

@homepage__banner-btn--padding			: @button-padding;
