
// CMS
// ========================================================================

.container-om7nw {

    .cms.module {
        margin-top: 70px;

        h1 {
            font-weight: 100;
            .font-size(40px);
        }

        h2 {
            font-weight: normal;
            .font-size(20px);
        }

        p {
            font-weight: 100;
            color: @secondary-color;
            font-family: @base-font-face;
        }

    }

}

// Responsive
// =========================

.hook-responsive-tablet() {

    .container-om7nw {

        .cms.module {
            margin-top: 20px;
            text-align: center;
        }

    }

}