// Name:            Search Version 2
// Description:     Defines styles for the Search Version 2
//
// ========================================================================

// Variables
// ========================================================================

@search__heading-item--font-size					: 26px;

@search__filter-label--font-size					: 13px;
@search__filter-label--colour						: #000;

@search__filter--height								: 41px;
@search__filter--background							: @tertiary-background-offset;
@search__filter--font-size							: 11px;
@search__filter-value--colour						: #fff;
@search__filter-value--font-weight					: 900;
@search__filter-value--transform					: uppercase;

@search__advanced-icon--color						: "black";

@search__button--font-size							: 13px;

// Full Width Search
// ========================================================================

& when(@search-version = 2) {

	.homepage .search {
		padding: 16px 0 0 0;

		.search-header {
			text-align: center;

			.heading {
				float: none;
				font-weight: normal;
				color: @tertiary-color;
				font-family: @base-font-face;
				.font-size(@search__heading-item--font-size);
			}

			.reset-all {
				/* Hide reset all */
				display: none;
			}

			.total-count {
				top: 0;
				right: 0;
				padding: 0;

				.value,
				.label {
					color: #000;
					font-weight: normal;
					font-family: @base-font-face;
					.font-size(@search__heading-item--font-size);
				}

				.label {
					padding-right: 0;
				}

				.value {
					float: left;
					padding-right: 10px;
				}

			}

		}

		/* Move and display the search button */
		.search-vehicles {
			right: 0;
			top: 102px;
			padding: 0;
			display: block;
			min-width: 120px;
			position: absolute;
			text-align: center;

			.btn {
				/* Change the line height to match the height of the filters */
				color: #fff;
				font-weight: 900;
				font-family: @base-font-face;
				background: @primary-background;
				line-height: @search__filter--height;
				.font-size(@search__button--font-size);

				&:hover {
					background: darken(@primary-background, 10%);
				}

			}

		}

		.filter-inset {
			padding-top: 15px;
			background: @body-background;
		}

		/*Icon correction without using variable so the intenral is not effected */
		.filter-heading .icon,
		.filter-price .price-range-filters .caret {
			.create-icon(16px; "white";);
		}

		.filter-vehicle-condition when (@search-condition-style = 'tabs') {

			.option {
			    padding: 0 15px;
			    background: none;
				font-weight: normal;
			    text-transform: none;
			    
			    .label {
			    	color: #d9d9d9;
			        .font-size(@search__heading-item--font-size);
			    }

			    &:first-child {
			        padding-left: 0;
			    }

			    &.active .label {
			    	color: @tertiary-color;
			    }

			}

		}

		.filter-vehicle-type when (@search-type-style = 'radio') {
			left: 0;
			top: 23px;

			.option .label {
				color: @search__filter-label--colour;
				.font-size(@search__filter-label--font-size);
			}

		}

		& when (@search-type-style = 'radio') {

			.filter-model,
			.filter-make {
				wdith: 14%;

				.filter-heading {
					margin-top: 32px;
					padding-left: 19px;
					background: @search__filter--background;

					.icon {
						bottom: 12px;
					}

					.label, .value {
						padding: 0;
						border: none;
						background: none;
						font-family: @base-font-face;
						line-height: @search__filter--height;
						color: @search__filter-value--colour;
						font-weight: @search__filter-value--font-weight;
						text-transform: @search__filter-value--transform;
						.inline-block;
						.font-size(@search__filter--font-size);
					}

				}

			}

			.filter-make {
				padding-left: 0;
			}

			.filter-model {
				padding-right: 0; 
				padding-left: 0.5%;
			}

		}

		.filter-price {
			width: 35.5%;
			border: none;
			padding-left: 3.5%;
			padding-right: 3.5%;

	        & when (@search-price-style = 'outside') {

	       		.option .label {
	       			color: @search__filter-label--colour;
	       			.font-size(@search__filter-label--font-size);
	       		}

	       		>.option {
	       			margin-bottom: 6px;
	       		}

	       		.option.inline {
					padding-top: 2px;
				}

	       		.bootstrap-select {

	       			button {
	       				font-family: @base-font-face !important; // To overwrite core important
	       			}

		       		.btn {
		       			border: none;
		       			padding-left: 16px;
		       			height: @search__filter--height;
		       			color: @search__filter-value--colour;
		       			background: @search__filter--background;
		       			font-weight: @search__filter-value--font-weight;
						text-transform: @search__filter-value--transform;
						.font-size(@search__filter--font-size);

		       			&:hover {
		       				color: @search__filter-value--colour;
		       				background: @search__filter--background;
		       			}

		       		}

				}
				
			}

			.min, 
			.max {
				width: 49%;
			}

	    }

	    .filter-distance {
	    	width: 11.5%;
			padding-left: 0;
			padding-top: 4px;

			.filter-heading {

				.icon {
					bottom: 11px;
				}

				.label {
					padding-bottom: 8px;
					.font-size(@search__filter-label--font-size);
				}

				.value {
					border: none;
					padding: 0 0 0 16px;
					font-family: @base-font-face;
					color: @search__filter-value--colour;
					line-height: @search__filter--height;
					background: @search__filter--background;
					font-weight: @search__filter-value--font-weight;
					text-transform: @search__filter-value--transform;
					.font-size(@search__filter--font-size);
				}

			}

		}

		.filter-advanced {
			width: 13%;
			float: none;

			.filter-heading {
				padding-top: 43px;

				.icon {
					bottom: 10px;
					.create-icon(16px; @search__advanced-icon--color;);
				}

				.label {
					color: @search__filter-label--colour;
					.font-size(@search__filter-label--font-size);
				}

			}

		}

	}

}

// Responsive
// =========================

.hook-responsive-desktop() {

	& when(@search-version = 2) {

		.homepage .search {

			.search-header {
				text-align: right;

				.total-count {
					top: 194px;
					right: 33%;
				}

			}

			.search-vehicles {
				top: 189px;
				width: 24%;
			}

			& when (@search-type-style = 'radio') {

				.filter-model,
				.filter-make {
					width: 25%;
					padding-bottom: 5px;
				}

				.filter-model {
					padding-right: 1%;
				}

			}

			.filter-price {
				width: 50%;
				padding-left: 1%;
				padding-right: 0;
				padding-bottom: 5px;
			}

			.filter-distance {
	    		width: 26%;
	    	}

	    	.filter-advanced {
	    		width: 23%;
	    		margin-left: 0;

	    		.filter-heading {

					.icon {
						bottom: 15px;
					}

				}

	    	}

		}

	}

}

.hook-responsive-tablet() {

	& when(@search-version = 2) {

		.homepage .search {

			.search-header {

				.total-count {
					right: 26.5%;
				}

			}

		}

	}

}

.hook-responsive-mobile() {

	& when(@search-version = 2) {

		.homepage .search.search {
			padding-top: 30px;
			position: relative;

			.search-header {
				display: block;
				text-align: center;
				position: relative;
				margin-bottom: 5px;

				.total-count {
					top: 95px;
					right: 50%;
					width: 170px;
					margin-right: -(170px / 2);

					.value,
					.label {
						float: none;
					}

				}

			}

			.filter .filter-heading .value {
				border: none;
				padding: 0 0 0 16px;
				background: @search__filter--background;
			}


			& when (@search-type-style = 'radio') {

				.filter-model,
				.filter-make {

					.filter-heading {

						.value {
							padding-left: 0;
							display: inline-block;
						}

						.label {
							color: @search__filter-value--colour;
						}

					}

				}

				.filter-model {
					margin-bottom: 5px;

					.filter-heading {
						margin-top: 15px;
					}

				}

				.filter-make {

					.filter-heading {
						margin-top: 10px;
					}

				}

			}

			.filter-vehicle-condition when (@search-condition-style = 'tabs') {
				display: block;
				text-align: center;
				margin-bottom: 50px;

				.option {
					display: inline-block;

					.label {
						.font-size(@search__heading-item--font-size - 2);
					}

				}

			}

			.filter-advanced {
				float: left;
			}

			.search-vehicles {
				bottom: 0;
				top: auto;
				right: 10px;

				.btn {
					min-height: 0;
					line-height: @search__filter--height;
					.font-size(@search__button--font-size);
				}

			}

		}

	}

}