// Offers, Reevoo, Why Buy
// ========================================================================

.container-ghe1u {
    overflow: hidden;
    position: relative;

    .container {
        position: relative;

        &:after {
            content: ' ';
            top: 0;
            left: 50%;
            width: 303px;
            position: absolute; 
            margin-left: -264px;
            border-top: 515px solid #fafafc; 
            border-left: 110px solid transparent; 
            border-right: 110px solid transparent;
        }

    }

    .reevoo-badge {
        width: auto;
        margin-left: 0;
    }

    .image-jump.module {
        min-width: 730px;
        overflow: hidden;
        padding-bottom: 0;
        position: relative;

        &.left-jump {
            float: left;
            margin-left: -255px !important; // To overide the first-child important
        }

        &.right-jump {
            float: right;
            margin-right: -255px;
        }

        .thumb {
            padding-bottom: 0;
        }

    }

    .content-jump.module {
        top: 14%;
        z-index: 10;
        width: 210px;
        position: absolute;

        &.left-jump-content {
            left: 5%;
        }

        &.right-jump-content {
            right: 5%;
        }

        .button {
            margin-top: 20px;
        }

    }

}

// Responsive
// =========================

.hook-responsive-desktop() {

    .container-ghe1u {

        .container {

            &:after {
                left: 50%;
                width: 141px;
                margin-left: -137px;
                border-top: 303px solid #fafafc; 
                border-left: 67px solid transparent; 
                border-right: 67px solid transparent;
            }

        }

        .image-jump.module {
            min-width: 417px;

            &.left-jump {
                margin-left: 0 !important; // To overide the first-child important
            }

            &.right-jump {
                margin-right: 0;
            }

        }

        .content-jump.module {
            top: 10%;

            &.left-jump-content {
                left: 9%;
            }

            &.right-jump-content {
                right: 9%;
            }

            .title {
                .font-size(@homepage__title--font-size - 8);
            }

            .content {
                display: none;
            }

        }

    }

}