// Offers, Reevoo, Why Buy
// ========================================================================

.container-ghe1u {
    overflow: hidden;
    position: relative;

    .container {
        position: relative;

        &:after {
            content: ' ';
            top: 0;
            left: 50%;
            width: 303px;
            position: absolute; 
            margin-left: -264px;
            border-left: 110px solid transparent; 
            border-right: 110px solid transparent;
            border-top: 515px solid @secondary-background; 
        }

    }

    .reevoo-badge {
        width: auto;
        margin-left: 0;
        padding-bottom: 0;
    }

    .image-jump.module {
        min-width: 730px;
        overflow: hidden;
        padding-bottom: 0;
        position: relative;

        &.left-jump {
            float: left;
            margin-left: -255px !important; // To overide the first-child important
        }

        &.right-jump {
            float: right;
            margin-left: 0;
            margin-right: -255px;
        }

        .thumb {
            padding-bottom: 0;
        }

    }

    .content-jump.module {
        top: 14%;
        z-index: 10;
        width: 210px;
        position: absolute;

        &.left-jump-content {
            left: 5%;
        }

        &.right-jump-content {
            right: 5%;
        }

        .button {
            margin-top: 20px;
        }

    }

}

// Responsive
// =========================

.hook-responsive-desktop() {

    .container-ghe1u {

        .container {

            &:after {
                left: 50%;
                width: 141px;
                margin-left: -137px;
                border-left: 67px solid transparent; 
                border-right: 67px solid transparent;
                border-top: 303px solid @secondary-background; 
            }

        }

        .image-jump.module {
            min-width: 417px;

            &.left-jump {
                margin-left: 0 !important; // To overide the first-child important
            }

            &.right-jump {
                margin-right: 0;
            }

        }

        .content-jump.module {
            top: 10%;

            &.left-jump-content {
                left: 9%;
            }

            &.right-jump-content {
                right: 9%;
            }

            .title {
                .font-size(@homepage__title--font-size - 8);
            }

            .content {
                display: none;
            }

        }

    }

}

.hook-responsive-tablet() {

    .container-ghe1u {

        .container {
            width: 764px;

            &:after {
                display: none;
            }

        }

        .reevoo-badge {
            width: 347px;
            min-height: 278px;
            background: @secondary-background;
        }

        .image-jump.module {
            max-width: 450px;

            &.left-jump {

                &:after {
                    content: ' ';
                    top: 0;
                    right: 0;
                    width: 3px;
                    position: absolute; 
                    border-left: 64px solid transparent; 
                    border-top: 282px solid @secondary-background; 
                }

            }

            &.right-jump {
                max-width: 436px;

                &:after {
                    content: ' ';
                    top: 0;
                    left: 0;
                    width: 1px;
                    position: absolute; 
                    border-style: solid;
                    border-width: 278px 65px 0 0;
                    border-color: @secondary-background transparent transparent transparent;
                }

            }

        }

        .content-jump.module {
            width: 287px;

            &.left-jump-content {
                top: 0;
                left: 60px;
                text-align: left;

                .button {
                    float: left;
                }

            }

            &.right-jump-content {
                float: left;
                position: static;
                min-height: 278px;
                padding-bottom: 0;
                padding-left: 60px;
                background: @secondary-background;
            }

            .title {
                padding-top: 40px;
                .font-size(@homepage__title--font-size);
            }

            .button {
                margin-top: 40px;
            }

        }

    }

}

.hook-responsive-mobile() {

    .container-ghe1u {

        .container {
            width: auto;
        }

        .row-o1tdk {
            position: relative;
            padding-bottom: 12px;
            background: @secondary-background;

            &:after {
                content: ' ';
                left: 0;
                bottom: 0;
                position: absolute;
                border-style: solid;
                border-width: 12px 0 0 500px;
                border-color: transparent transparent transparent @body-background;
            }

        }

        .reevoo-badge {
            width: auto;
            padding: 50px 0;
            background: none;
        }

        .content-jump.module {

            &.left-jump-content,
            &.right-jump-content {
                margin: 0;
                padding: 0;
                float: none;
                width: auto;
                min-height: 0;
                background: none;
                position: absolute;

                .button {
                    margin: 0;
                    float: none;
                    text-align: center;

                    .btn {
                        #custom-mixins > .primary-button;

                        &:before {
                            margin-top: 0;
                        }

                        &:hover {
                            #custom-mixins > .primary-button-hover;
                        }

                    }

                }

                .title,
                .content {
                    display: none;
                }

            }

        }

        .content-jump.module {

            &.left-jump-content {
                top: 0; 
                left: 0;
                right: 0;
                bottom: auto;
            }

            &.right-jump-content {
                left: 0;
                right: 0;
                top: auto;
                bottom: 20px;
            }

        }

    }

}
