
// Valuation Jump
// ========================================================================

.container-xnjhm {
    z-index: 101;
    overflow: hidden;
    padding-top: 25px;
    position: relative;
    background: #c1ccd2;
    margin-top: -25px !important; // Overwrite the homepage container styles

    /*Top left triangle*/
    &:before {
        content: ' ';
        top: 0;
        left: 50%;
        position: absolute;
        border-style: solid;
        margin-left: -840px;
        border-width: 33px 895px 0 0;
        border-color: @body-background transparent transparent transparent;
    }

    /*Right Shape*/
    &:after {
        content: ' ';
        top: -81px;
        right: 50%;
        width: 623px;
        z-index: 101;
        position: absolute;
        margin-right: -840px;
        border-left: 181px solid transparent; 
        border-top: 778px solid @tertiary-background; 
    }

    .valuations-jump.module {
        margin-top: 37px;
        
        .thumb {
            float: left;
            width: 70.3%;
            margin-left: -186px;
        }

        .title,
        .content,
        .button {
            width: 30%;
            float: right;
            z-index: 102;
            text-align: left;
            position: relative;
        }
        .title {
            padding-top: 100px;
        }

        .button {
            margin-top: 30px;
        }

    }

}

// Responsive
// =========================

.hook-responsive-desktop() {

    .container-xnjhm {
        padding-top: 0;
        background: none;
        margin-top: 0 !important;

        /*Right Shape*/
        &:after {
            display: none;
        }

        /*Top left triangle*/
        &:before {
            z-index: 10;
        }

        .container {
            position: relative;
            background: #c1ccd2;

            /*Right Shape*/
            &:after {
                content: ' ';
                right: 0;
                top: -81px;
                width: 330px;
                z-index: 101;
                position: absolute;
                border-left: 105px solid transparent; 
                border-top: 456px solid @tertiary-background; 
            }

        }

        .valuations-jump.module {
            
            .thumb {
                width: 60%;
                margin-left: 0;
            }

            .title {
                padding-top: 30px;
                .font-size(@homepage__title--font-size - 8px);
            }

            .title,
            .content,
            .button {
                width: 32%;
            }

        }

    }

}

.hook-responsive-tablet() {

    .container-xnjhm {

        /*Top left Triangle*/
        &:before {
            left: 0;
            margin-left: 0;
            border-width: 12px 416px 0 0;
        }

        .container {
            width: 764px;

            &:after {
                display: none;
            }

        }

        .valuations-jump.module {
            padding-bottom: 0;

            .title,
            .content,
            .button {
                width: 100%;
                float: none;
                text-align: center;
                background: @body-background;
            }

            .title {
                .font-size(@homepage__title--font-size);
            }

            .thumb {
                width: 60%;
                float: none;
                position: relative;
                padding-bottom: 28px;

                &:after {
                    content: ' ';
                    left: 0;
                    bottom: 0;
                    position: absolute;
                    border-style: solid;
                    border-width: 28px 0 0 764px;
                    border-color: transparent transparent transparent @body-background;
                }

            }

            .content span {
                max-width: 70%;
                margin: 0 auto;
                display: block;
            }

            .button {
                margin-top: 0;
                padding: 0 0 30px;
            }

        }

    }

}

.hook-responsive-mobile() {

    .container-xnjhm {

        /*Top left Triangle*/
        &:before {
            display: none;
        }

        .container {
            width: auto;  
            background: none;
        }

        .row-tjt2b {
            background: #c1ccd2;
        }

        .valuation-jumps.module {
            margin-top: 0;
            padding: 10px 0;
            position: relative;

            // only do for franchises
            & when not (@franchise-name = "group") {
            
                /*Bottom Triangle*/
                &:after {
                    content: ' ';
                    right: 0; 
                    bottom: 0;
                    position: absolute;
                    border-style: solid;
                    border-width: 0 0 12px 500px;
                    border-color: transparent transparent @body-background transparent;
                }

            }

            .content,
            .thumb {
                display: none;
            }

            .title,
            .button {
                width: 100%;
                float: none;
                background: none;
                text-align: center;
            }

            .title {
                .font-size(@homepage__title--font-size - 16);
            }            

            .button {
                margin-top: 0;
                padding: 0 0 30px;
            }

        }

    }

}
