
/*!
 * VAR syntax for custom vars
 * @section__element--property_modifier
 */

// Box List Count
@box-list-columns                : 4;
@used-box-list-columns           : 4;
@offer-box-list-columns          : 4;
@new-box-list-columns            : 4;
@location-box-list-columns       : 3;

@grid-footer-height              : 240px;
@grid-footer-clear-height        : 260px;