// Name:            Layout
// Description:     Defines styles for the Layout
//
// ========================================================================

// Variables
// ========================================================================

@homepage__title--font-size                  : 40px;

@homepage__button--padding                   : 0;

// Global homepage bits
// ========================================================================

/* Hide page info (breadcrumbs etc) from the homepage */
.homepage .page-info {
	display: none;
}

.homepage #content-wrap {
    overflow-x: hidden;

    .container-wrap {
        width: 100%;
        margin: 0 auto;
    	max-width: 1680px;
    }

}



// Responsive
// =========================

/*@media (max-width: 1679px) {

    .homepage #content-wrap .container-wrap {
        width: 100%;
        margin: 0 auto;
        max-width: 1680px;
    }

}*/

// Imports
// ========================================================================

@import "../../common/banner.less";
@import "../../common/search-v2.less";
@import "../../common/primary-jumps.less";
@import "../../common/secondary-jumps.less";
@import "../../common/locations.less";
@import "../../common/jumps-cycle.less";
@import "../../common/valuations.less";
@import "../../common/video.less";
@import "../../common/cms.less";
@import "../../common/news.less";

// Franchise Badges
// ========================================================================

.homepage #content-wrap .container-z9jg1 {

    .container {
        width: 1368px;
    }

}

.container-z9jg1 {

    .scroll-to {
        display: block;
        margin: 0 15px;

        a {
            color: #000;
            font-weight: 900;
            text-decoration: none;
            text-transform: uppercase;
            font-family: @base-font-face;
            .font-size(13px);

            &:before {
                content: ' ';
                width: 27px;
                height: 26px;
                margin-right: 10px;
                display: inline-block;
                background: url('../images/@{franchise-name}/scroll-arrow.png') 0 0 no-repeat;
            }

        }

    }

    .franchise-jump.module {
        float: left;
        width: 12.57%;
        margin-right: 2%;

        &:last-child {
            margin-right: 0;
        }

    }

}

// Responsive
// =========================

@media (max-width: 1367px) {

    .homepage #content-wrap .container-z9jg1 {

        .container {
            width: 1170px;
        }

    }

}

.hook-responsive-desktop() {

    .homepage #content-wrap .container-z9jg1 {

        .container {
            width: @grid-column-width980;
        }

    }

}

.hook-responsive-tablet() {

    .homepage #content-wrap .container-z9jg1 {

        .container {
            width: @grid-column-width768;
        }

        .row-td2gm {
            text-align: center;
        }

        .scroll-to {
            padding-top: 15px;
        }

        .franchise-jump.module {
            float: none;
            margin-right: 0;
            width: 33.333333%;
            display: inline-block;
        }

    }

}

.hook-responsive-mobile() {

    .homepage #content-wrap .container-z9jg1 {

        .container {
            width: auto;
        }

        .scroll-to {
            margin: 0;
            padding: 15px 0 0;

            .btn {
                margin: 0;
                padding: 0;

                &:before {
                    margin-top: 0;
                }

            }

        }

        .franchise-jump.module {
            width: 50%;
        }

        #franchises {
            padding-top: 20px;
        }

    }

}

// Jumps
// ========================================================================

.is-consistant.module {
	position: relative;

	.title,
    .strapline {
        font-weight: 100;
        line-height: normal;
        color: @primary-color;
        font-family: @base-font-face;
        .font-size(@homepage__title--font-size);
	}

	.content {
        font-weight: 100;
        color: @secondary-color;
        font-family: @base-font-face;
        line-height: @base-line-height;
        .font-size(16px);
	}

	.button {
        float: left;

        .btn {
            margin: 0;
            padding: @homepage__button--padding;
        }

	}

    & when (@franchise-name = "group") {

        &.secondary .button .btn {       
            background: none;
        }

    }

	/* Provide an inverted colour */
	&.is-inverted {

		.title,
		.sub-title,
		.content {
			color: #fff;
		}

	}

	/* Provide right positioning of the text */
	&.is-aligned-right {
		text-align: right;

        .button {
            float: right;
        }

	}

	/* Provide center positioning of the text */
	&.is-aligned-center {
		text-align: center;
	}

}


// Jump Types
// ========================================================================

/*
 - Your MOBILE designs will now include 2 types of jump point
 - 1 - A simplified version featuring a title and arrow icon
 - 2 - A standard version with title and button absolutely positioned on a thumbnail
*/
.hook-responsive-mobile() {

	.jump.module.mobile-jump-simple {
        float: none;
        position: static;
        text-align: center;

        .thumb,
        .sub-title,
        .content,
        .title,
        .strapline {
            display: none;
        }

        .button {
        	position: static;
            text-align: center;
        }

    }

    .jump.module.mobile-jump-standard {
        position: relative;
        float: none;
        text-align: left;
        background: #000;
        width: 100%;
        margin-bottom: 1px;

        .thumb {
            float: none;
            width: 100%;
            padding-bottom: 0;
            .opacity(70);
        }

        .sub-title,
        .content {
            display: none;
        }

        .title {
            color: #fff;
            position: absolute;
            top: 0;
            left: 3%;
            width: 94%;
            padding: 8px 0;

            span {
            	display: block;
                .font-size(18);
            }

        }

        .button {
            width: auto;
            position: absolute;
            top: 70px;
            left: 3%;

            .btn {
                padding: 0 25px;
                .font-size(15);
            }

        }

    }

}