// Name:            Layout
// Description:     Defines styles for the Layout
//
// ========================================================================

// Variables
// ========================================================================

// Global homepage bits
// ========================================================================

/* Hide page info (breadcrumbs etc) from the homepage */
.homepage .page-info {
	display: none;
}

.homepage #content-wrap .container-wrap {
	width: 1680px;
    margin: 0 auto;
}

// Imports
// ========================================================================

@import "../../common/banner.less";
@import "../../common/search-v2.less";

// Franchise Badges
// ========================================================================

.homepage #content-wrap .container-z9jg1 {

    .container {
        width: 1368px;
    }

}

.container-z9jg1 {

    .franchise-jump.module {
        float: left;
        width: 12.57%;
        margin-right: 2%;

        &:last-child {
            margin-right: 0;
        }

    }

}

// New and used jumps
// ========================================================================

.container-ttibi {
    position: relative;
    background: #fafafc;

    &:after {
        content: ' ';
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        position: absolute;
        border-style: solid;
        border-width: 60px 0px 0 1680px;
        border-color: @body-background transparent transparent transparent;
    }


    .image-jump.module {
        max-width: 631px;
        overflow: hidden;
        padding-bottom: 0;
        position: relative;

        .thumb {
            padding-bottom: 0;
        }

        &.used-cars-jump {
            float: left;
            margin-left: -255px;

            &:after {
                content: ' ';
                width: 0;
                height: 0;
                top: -87px;
                right: -139px;
                position: absolute;
                border-style: solid;
                border-width: 0 310px 1357px 0;
                border-color: transparent #fafafc transparent transparent;
            }

        }

        &.servicing-jump {
            float: right;
            margin-right: -255px;

            &:after {
                content: ' ';
                left: 0;
                width: 0;
                height: 0;
                top: -179px;
                position: absolute;
                border-style: solid;
                border-width: 821px 187px 0 0px;
                border-color: #fafafc transparent transparent transparent;
            }

        }

    }

    .content-jump.module {
        top: 60px;
        width: 13%;
        z-index: 10;
        padding-bottom: 0;
        position: absolute;

        &.used-jump-content {
            left: 33%;
        }

        &.servicing-jump-content {
            left: 53%;
        }

        .button {
            margin-top: 20px;
        }

    }

}

// Offers, Reevoo, Why Buy
// ========================================================================

.container-ghe1u {
    position: relative;

    &:after {
        content:  ' ';
        left: 0;
        width: 0;
        bottom: 0;
        height: 0;
        position: absolute;
        border-style: solid;
        border-width: 0 0px 60px 1680px;
        border-color: transparent transparent @body-background transparent;
    }

    .standard-jump.module {
        min-width: 730px;
        overflow: hidden;
        padding-bottom: 0;
        position: relative;

        &.offers-jump {
            float: left;
            margin-left: -255px !important; // To overide the first-child important
        }

        &.why-buy-jump {
            float: right;
            margin-right: -255px;
        }

        .thumb {
            padding-bottom: 0;
        }

        .title,
        .content,
        .button {
            top: 0;
            position: absolute;
        }

    }

}

// Jumps
// ========================================================================

.is-consistant.module {
	position: relative;

	.title {
        font-weight: 100;
        color: @primary-color;
        font-family: @base-font-face;
        .font-size(40px);
	}

	.sub-title {

	}

	.content {
        font-weight: 100;
        color: @secondary-color;
        font-family: @base-font-face;
        .font-size(18px);
	}

	.button {
        float: left;

        .btn {
            padding: 0;
        }
	}

	/* Provide an inverted colour */
	&.is-inverted {

		.title,
		.sub-title,
		.content {
			color: #fff;
		}

	}

	/* Provide right positioning of the text */
	&.is-aligned-right {
		text-align: right;

        .button {
            float: right;
        }

	}

	/* Provide center positioning of the text */
	&.is-aligned-center {
		text-align: center;
	}

}


// Jump Types
// ========================================================================

/*
 - Your MOBILE designs will now include 2 types of jump point
 - 1 - A simplified version featuring a title and arrow icon
 - 2 - A standard version with title and button absolutely positioned on a thumbnail
*/
.hook-responsive-mobile() {

	.jump.module.mobile-jump-simple {
		padding: 0;
        margin-bottom: 1px;
        background: @secondary-background;

        a {
            color: contrast(@secondary-background);
        }

        .inner {
            padding: 12px 0 12px 3%;
        }

        .thumb,
        .sub-title,
        .content,
        .button {
            display: none;
        }

        .title {
        	position: static;
            text-align: left;
            padding: 0;
            color: contrast(@secondary-background);
            .font-size(24);

            &:before {
            	content: ' ';
            	float: right;
            	margin: 3px 5px 0 0;

            	& when (contrast(@secondary-background) = #000000) {
	                .create-icon(25px; 'black'; 47);
	            }

	            & when (contrast(@secondary-background) = #ffffff) {
	                .create-icon(25px; 'white'; 47);
	            }

            }

        }

        .strapline {
            text-align: left;
            padding: 0;
            color: contrast(@secondary-background);
            .font-size(24);

            &:before {
            	content: ' ';
            	float: right;
            	margin: 3px 5px 0 0;

            	& when (contrast(@secondary-background) = #000000) {
	                .create-icon(25px; 'black'; 47);
	            }

	            & when (contrast(@secondary-background) = #ffffff) {
	                .create-icon(25px; 'white'; 47);
	            }

            }

        }

    }

    .jump.module.mobile-jump-standard {
        position: relative;
        float: none;
        text-align: left;
        background: #000;
        width: 100%;
        margin-bottom: 1px;

        .thumb {
            float: none;
            width: 100%;
            padding-bottom: 0;
            .opacity(70);
        }

        .sub-title,
        .content {
            display: none;
        }

        .title {
            color: #fff;
            position: absolute;
            top: 0;
            left: 3%;
            width: 94%;
            padding: 8px 0;

            span {
            	display: block;
                .font-size(18);
            }

        }

        .button {
            width: auto;
            position: absolute;
            top: 70px;
            left: 3%;

            .btn {
                padding: 0 25px;
                .font-size(15);
            }

        }

    }

}