// Name:            Layout
// Description:     Defines styles for the Layout
//
// ========================================================================

// Variables
// ========================================================================

@alt-body-background                         : @body-background;

@homepage__title--font-size                  : 40px;
@homepage__title--color                      : @primary-color;
@homepage__title--font                       : @base-font-face;
@homepage__title--font-weight                : 100;
@homepage__content--line-height              : @base-line-height;

@homepage__content--font-size                : 16px;
@homepage__content--color                    : @secondary-color;
@homepage__content--font                     : @base-font-face;
@homepage__content--font-weight              : 100;

@homepage__button--padding                   : 0;

@homepage__scroll-to--font-size              : 13px;
@homepage__scroll-to--colour                 : #000;
@homepage__scroll-to--font-weight            : 900;
@homepage__scroll-to--transform              : uppercase;
@hoempage__scroll-to-icon--margin            : -3px 10px 0 0;



// Global homepage bits
// ========================================================================

/* Hide page info (breadcrumbs etc) from the homepage */
.homepage .page-info {
	display: none;
}

.homepage #content-wrap {
    overflow-x: hidden;

    .container-wrap {
        width: 100%;
        margin: 0 auto;
    	max-width: 1680px;
    }

}



// Responsive
// =========================

/*@media (max-width: 1679px) {

    .homepage #content-wrap .container-wrap {
        width: 100%;
        margin: 0 auto;
        max-width: 1680px;
    }

}*/

// Imports
// ========================================================================

@import "../../common/banner.less";
@import "../../common/search-v2.less";
@import "../../common/primary-jumps.less";
@import "../../common/secondary-jumps.less";
@import "../../common/locations.less";
@import "../../common/jumps-cycle.less";
@import "../../common/tertiary-jump.less";
@import "../../common/valuation-jump.less";
@import "../../common/featured-stock.less";
@import "../../common/video.less";
@import "../../common/cms.less";
@import "../../common/news.less";
@import "../../common/reevoo.less";

// Franchise Badges
// ========================================================================

.homepage #content-wrap .container-z9jg1 {

    .container {
        width: 1368px;
    }

}

.container-z9jg1 {
    background: @alt-body-background;

    .scroll-to {
        display: block;
        margin: 0 15px;

        a {
            border: none;
            background: none;
            text-decoration: none;
            font-family: @base-font-face;
            color: @homepage__scroll-to--colour;
            font-weight: @homepage__scroll-to--font-weight;
            text-transform: @homepage__scroll-to--transform;
            .font-size(@homepage__scroll-to--font-size);
            #gradient > .vertical(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));

            &:hover {
                opacity: 0.8;
                background: none;
                #gradient > .vertical(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
            }

            &:before {
                .create-icon(25px,custom,2);
                width: 27px;
                height: 26px;
                margin: @hoempage__scroll-to-icon--margin;
            }

            &:after {
                display: none;
            }

        }

    }

    .franchise-jump.module {
        float: left;
        width: 12.57%;
        margin-right: 2%;
        text-align: center;
        height: 150px;
        line-height: 150px;

        &:last-child {
            margin-right: 0;
        }

    }

}

// Responsive
// =========================

@media (max-width: 1367px) {

    .homepage #content-wrap .container-z9jg1 {

        .container {
            width: 1170px;
        }

    }

}

.hook-responsive-desktop() {

    .homepage #content-wrap .container-z9jg1 {

        .container {
            width: @grid-column-width980;
        }

    }

}

.hook-responsive-tablet() {

    .homepage #content-wrap .container-z9jg1 {

        .container {
            width: @grid-column-width768;
        }

        .row-td2gm {
            text-align: center;
        }

        .scroll-to {
            padding-top: 15px;

            a {
                line-height: @button-line-height;
            }

        }

        .franchise-jump.module {
            float: none;
            margin-right: 0;
            width: 33.333333%;
            display: inline-block;
        }

    }

}

.hook-responsive-mobile() {

    .homepage #content-wrap .container-z9jg1 {

        .container {
            width: auto;
        }

        .scroll-to {
            margin: 0;
            padding: 15px 0 0;

            .btn {
                margin: 0;
                padding: 0;
                min-height: 0;
                line-height: @button-line-height;
            }

        }

        .franchise-jump.module {
            width: 50%;
        }

        #franchises {
            padding-top: 20px;
        }

    }

}

// Jumps
// ========================================================================

.is-consistant.module {
	position: relative;

	.title,
    .strapline {
        line-height: normal;
        color: @homepage__title--color;
        font-family: @homepage__title--font;
        font-weight: @homepage__title--font-weight;
        text-transform: @homepage__title--text-transform;
        .font-size(@homepage__title--font-size);
	}

	.content {
        line-height: @homepage__content--line-height;
        color: @homepage__content--color;
        font-family: @homepage__content--font;
        font-weight: @homepage__content--font-weight;
        .font-size(@homepage__content--font-size);
	}

	.button {
        float: left;

        .btn {
            margin: 0;
            padding: @homepage__button--padding;
        }

	}

    & when (@franchise-name = "group") {

        &.secondary .button .btn {       
            background: none;
        }

    }

	/* Provide an inverted colour */
	&.is-inverted {

		.title,
		.sub-title,
		.content {
			color: #fff;
		}

	}

	/* Provide right positioning of the text */
	&.is-aligned-right {
		text-align: right;

        .button {
            float: right;
        }

	}

	/* Provide center positioning of the text */
	&.is-aligned-center {
		text-align: center;
	}

}


// Jump Types
// ========================================================================

/*
 - Your MOBILE designs will now include 2 types of jump point
 - 1 - A simplified version featuring a title and arrow icon
 - 2 - A standard version with title and button absolutely positioned on a thumbnail
*/
.hook-responsive-mobile() {

	.jump.module.mobile-jump-simple {
        float: none;
        position: static;
        text-align: center;

        .thumb,
        .sub-title,
        .content,
        .title,
        .strapline {
            display: none;
        }

        .button {
        	position: static;
            text-align: center;
        }

    }

    .jump.module.mobile-jump-standard {
        position: relative;
        float: none;
        text-align: left;
        background: #000;
        width: 100%;
        margin-bottom: 1px;

        .thumb {
            float: none;
            width: 100%;
            padding-bottom: 0;
            .opacity(70);
        }

        .sub-title,
        .content {
            display: none;
        }

        .title {
            color: #fff;
            position: absolute;
            top: 0;
            left: 3%;
            width: 94%;
            padding: 8px 0;

            span {
            	display: block;
                .font-size(18);
            }

        }

        .button {
            width: auto;
            position: absolute;
            top: 70px;
            left: 3%;

            .btn {
                padding: 0 25px;
                .font-size(15);
            }

        }

    }

}