// Name:            Layout
// Description:     Defines styles for the Layout
//
// ========================================================================

// Variables
// ========================================================================

// Global homepage bits
// ========================================================================

/* Hide page info (breadcrumbs etc) from the homepage */
.homepage .page-info {
	display: none;
}

.homepage #content-wrap .container-wrap {
    width: 100%;
    margin: 0 auto;
	max-width: 1680px;
}

// Responsive
// =========================

/*@media (max-width: 1679px) {

    .homepage #content-wrap .container-wrap {
        width: 100%;
        margin: 0 auto;
        max-width: 1680px;
    }

}*/

// Imports
// ========================================================================

@import "../../common/banner.less";
@import "../../common/search-v2.less";
@import "../../common/primary-jumps.less";
@import "../../common/secondary-jumps.less";
@import "../../common/locations.less";
@import "../../common/jumps-cycle.less";
@import "../../common/valuations.less";
@import "../../common/video.less";
@import "../../common/cms.less";
@import "../../common/news.less";

// Franchise Badges
// ========================================================================

.homepage #content-wrap .container-z9jg1 {

    .container {
        width: 1368px;
    }

}

.container-z9jg1 {

    .scroll-to {
        display: block;
        margin: 0 15px;

        a {
            color: #000;
            font-weight: 900;
            text-decoration: none;
            text-transform: uppercase;
            font-family: @base-font-face;
            .font-size(13px);

            &:before {
                content: ' ';
                width: 27px;
                height: 26px;
                margin-right: 10px;
                display: inline-block;
                background: url('../images/@{franchise-name}/scroll-arrow.png') 0 0 no-repeat;
            }

        }

    }

    .franchise-jump.module {
        float: left;
        width: 12.57%;
        margin-right: 2%;

        &:last-child {
            margin-right: 0;
        }

    }

}

// Responsive
// =========================

@media (max-width: 1367px) {

    .homepage #content-wrap .container-z9jg1 {

        .container {
            width: 1170px;
        }

    }

}

.hook-responsive-desktop() {

    .homepage #content-wrap .container-z9jg1 {

        .container {
            width: @grid-column-width980;
        }

    }

}

.hook-responsive-tablet() {

    .homepage #content-wrap .container-z9jg1 {

        .container {
            width: @grid-column-width768;
        }

    }

}

// Jumps
// ========================================================================

.is-consistant.module {
	position: relative;

	.title,
    .strapline {
        font-weight: 100;
        line-height: normal;
        color: @primary-color;
        font-family: @base-font-face;
        .font-size(40px);
	}

	.content {
        font-weight: 100;
        color: @secondary-color;
        font-family: @base-font-face;
        line-height: @base-line-height;
        .font-size(16px);
	}

	.button {
        float: left;

        .btn {
            padding: 0;
        }

	}

    &.secondary .button .btn {       
        background: none;
    }

	/* Provide an inverted colour */
	&.is-inverted {

		.title,
		.sub-title,
		.content {
			color: #fff;
		}

	}

	/* Provide right positioning of the text */
	&.is-aligned-right {
		text-align: right;

        .button {
            float: right;
        }

	}

	/* Provide center positioning of the text */
	&.is-aligned-center {
		text-align: center;
	}

}


// Jump Types
// ========================================================================

/*
 - Your MOBILE designs will now include 2 types of jump point
 - 1 - A simplified version featuring a title and arrow icon
 - 2 - A standard version with title and button absolutely positioned on a thumbnail
*/
.hook-responsive-mobile() {

	.jump.module.mobile-jump-simple {
		padding: 0;
        margin-bottom: 1px;
        background: @secondary-background;

        a {
            color: contrast(@secondary-background);
        }

        .inner {
            padding: 12px 0 12px 3%;
        }

        .thumb,
        .sub-title,
        .content,
        .button {
            display: none;
        }

        .title {
        	position: static;
            text-align: left;
            padding: 0;
            color: contrast(@secondary-background);
            .font-size(24);

            &:before {
            	content: ' ';
            	float: right;
            	margin: 3px 5px 0 0;

            	& when (contrast(@secondary-background) = #000000) {
	                .create-icon(25px; 'black'; 47);
	            }

	            & when (contrast(@secondary-background) = #ffffff) {
	                .create-icon(25px; 'white'; 47);
	            }

            }

        }

        .strapline {
            text-align: left;
            padding: 0;
            color: contrast(@secondary-background);
            .font-size(24);

            &:before {
            	content: ' ';
            	float: right;
            	margin: 3px 5px 0 0;

            	& when (contrast(@secondary-background) = #000000) {
	                .create-icon(25px; 'black'; 47);
	            }

	            & when (contrast(@secondary-background) = #ffffff) {
	                .create-icon(25px; 'white'; 47);
	            }

            }

        }

    }

    .jump.module.mobile-jump-standard {
        position: relative;
        float: none;
        text-align: left;
        background: #000;
        width: 100%;
        margin-bottom: 1px;

        .thumb {
            float: none;
            width: 100%;
            padding-bottom: 0;
            .opacity(70);
        }

        .sub-title,
        .content {
            display: none;
        }

        .title {
            color: #fff;
            position: absolute;
            top: 0;
            left: 3%;
            width: 94%;
            padding: 8px 0;

            span {
            	display: block;
                .font-size(18);
            }

        }

        .button {
            width: auto;
            position: absolute;
            top: 70px;
            left: 3%;

            .btn {
                padding: 0 25px;
                .font-size(15);
            }

        }

    }

}